* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(186, 186, 186, 0.29), rgba(186, 186, 186, 0.29)), url("../images/start_screen_img.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-attachment: fixed;
}

#wrap-content {
    margin: 40px;
    display: flex;
    align-items: center;
}

#intro {
    width: 60%;
    margin-right: 20px;
}

.welcome-line {
    text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 68px;
    color: #FFFFFF;
}

.guide-line {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
}

#login-box {
    width: 40%;
    height: 500px;
    display: block;
    background-color: white;
    border-radius: 16px;
}

#label {
    margin: 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}

.check i {
    position: relative;
}

#login-part {
    margin: 0 35px;
}

#login-part form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

label {
    display: block;
    padding: 10px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

form div {
    margin-bottom: 10px;
}

label {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

i {
    position: absolute;
    z-index: 1;
    padding: 10px;
    color: #C21409;
}

#login-part div input {
    width: 100%;
    position: relative;
    border: 1.5px solid #C21409;
    box-sizing: border-box;
    border-radius: 16px;
    min-height: 40px;
    padding-left: 30px;
}

#register {
    font-family: 'Be Vietnam Pro', 'Intel', sans-serif;
    font-size: 18px;
    text-align: center;
}

#register i {
    position: relative;
    padding: 5px;
}

button#btn-lg {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background: #C21409;
    color: white;
    border-radius: 100px;
    border: 0px;
    padding: 15px;
}

#btn-lg {
    padding: 10px 20px;
    margin: 20px;
}

.check{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding-left: 20px ;
    color: #C21409;
}