body {
    font-family: 'Be Vietnam Pro', 'Intel', sans-serif;
    font-size: 24px;
    margin: 0;
}
/* ------------------------------------------header---------------------------------------- */
header {
    padding: 15px;
    display: flex;
    background-color: #C21409;
    height: 80px;
}

#logo-and-navbar {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul#navbar {
    font-size: 18px;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

li.nav-item>a {
    display: block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

li.nav-item>a:hover {
    background-color: white;
    color: #630000;
}

#image-logo {
    width: 160px;
    height: auto;
}

#profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    margin: 0;
}

#btn-prof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #D49B06;
    padding: 30px;
    color: white;
    border: none;
}
/* --------------------------------------------content ------------------------------------------*/
div#content{
    margin: 20px 0px;
}
div#article{
    text-align: center;
}
#article h1{ 
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}
div#edit-part{
    display: flex;
    justify-content: center;
}
#title{
    margin: 0px 200px;
}
div#image-part{
    margin: 0px 25px;
}
div#form-part{
    margin: 0px 25px;
}
#edit-part>ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

input {
    background: #FFFFFF;
    border: 1.5px solid #C21409;
    border-radius: 100px;
    padding-left: 20px;
    flex-shrink: 2;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: flex;
    flex-direction: column;
}

select {
    padding: 0px 20px;
    border: 1.5px solid #C21409;
    border-radius: 100px;
    height: 40px;
}
/* ----------------------------------------------footer------------------------------------------ */
footer{
    margin: 0px 150px ;
    display: flex;
    justify-content: space-between;
}
footer>button{
    font-size: 20px;
    border-radius: 100px;
    padding: 15px 40px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
button#cancel{
    background: #FFFFFF;
    color: #C21409;
    border: 1.5px solid #C21409;
}
button#done{
    background: #C21409;
    color: #FFFFFF ;
    border: 1.5px solid #C21409;
}
button#cancel:hover, button#done:hover{
    background-color: #971007;
    color: #FFFFFF ;
}