body {
    font-family: 'Be Vietnam Pro', 'Intel', sans-serif;
    font-size: 24px;
}

header {
    margin: 20px;
    padding: 15px;
    display: flex;
}

#cinema-logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#image-logo {
    width: 160px;
    height: auto;
}

#profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#btn-prof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #D49B06;
    padding: 30px;
    color: white;
    border: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -100px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #btn-prof {
    background-color: #a87a06;
}

#content {
    margin: 0 auto;
}

#title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

#list {
    margin: 30px 60px;
}

.guide {
    font-size: 30px;
    margin-bottom: 30px;
}

#seat-list {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button.seat {
    font-size: 14px;
    /* padding: 8px; */
    margin: 6px;
    width: 40px;
    height: 40px;
    background-color: white;
    font-weight: bold;
    border: 1px solid #9DA8BE;
    border-radius: 5px;
}

button.seat:hover {
    background-color: #C21409;
    color: white;
}

/* button.seat.selected {
    background-color: #C21409;
} */

button.seat.occupied {
    /* background-color: #810101; */
    cursor: not-allowed;
}

.selected {
    background-color: #C21409;
    color: white;
}

.occupied {
    background-color: #810101;
    color: white;
}

#note {
    font-size: 20px;
    text-align: center;
}

h4 {
    margin-bottom: 0;
}

#seat-status {
    display: flex;
    justify-content: center;
}

.status {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status>p {
    margin: 0 5px;
}

.square {
    width: 20px;
    height: 20px;
    border: 1px solid #9DA8BE;
}

#btn-container {
    margin: 20px;
    padding: 15px;
    display: flex;
}

#cancel-btn-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#next-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#next-button, #cancel-button {   
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 15px 40px;
    margin: 10px;
    display: inline;
    cursor: pointer;
}

#next-button {
    background-color: #C21409;
}

#next-button:hover {
    background-color: #971007;
}

#cancel-button {
    border: 1px solid #C21409;
    background-color: white;
    color: #C21409;
}

#cancel-button:hover {
    background-color: #971007;
    color: white;
}