*{
    box-sizing: border-box;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
    background: coral;
    display: flex;
    flex-direction: column;
}
#label{
    width: 960px;
    position: absolute;
    top: 100px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
#login-part{
    padding: 0px 250px;
}
#login-part form{  
    position: absolute;
    top: 300px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
form div{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around; 
    margin-bottom: 30px;
}
label{
    display: block;
    width: 960px;
    padding-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #000000;

}
i.fa-user, i.fa-lock{
    position: absolute;
    padding: 10px;
    color: #C21409;
}
#login-part div input{
    width: 460px;
    border: 1.5px solid #C21409;
    box-sizing: border-box;
    border-radius: 16px;
    min-height: 40px;
    padding-left: 30px;
}
a{
    display: block;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}
button#btn-lg{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    background: #C21409;
    color: white;
    border-radius: 100px;
    border: 0px;
    padding: 15px;
}
.check{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    padding-left: 20px ;
    color: #C21409;
}