body {
    font-family: 'Be Vietnam Pro', 'Intel', sans-serif;
    font-size: 24px;
    margin: 0;
}

header {
    margin: 20px;
    padding: 15px;
    display: flex;
}

#cinema-logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#image-logo {
    width: 160px;
    height: auto;
}

#profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

#btn-prof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #D49B06;
    padding: 30px;
    color: white;
    border: none;
}

#content {
    margin: 0 auto;
    text-align: center;
}

#title {
    font-size: 32px;
    font-weight: bold;
}

#button-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

button {
    background-color: #C21409;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 45px;
    padding: 15px 40px;
    margin: 10px;
    display: inline;
    cursor: pointer;
}
button:hover {
    background-color: #971007;
}