body {
    font-family: 'Be Vietnam Pro', 'Intel', sans-serif;
    font-size: 24px;
}
/* ------------------------------------------header---------------------------------------- */
header {
    margin: 20px;
    padding: 15px;
    display: flex;
}

#cinema-logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#image-logo {
    width: 160px;
    height: auto;
}

#profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
#btn-prof {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #D49B06;
    padding: 30px;
    color: white;
    border: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-left: -100px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover #btn-prof {
    background-color: #a87a06;
}

/* --------------------------------------------content ------------------------------------------*/
div#content{
    margin: 50px 0px 100px 0px;
}
div#article{
    text-align: center;
}
#article h1{ 
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}
div#profile-part{
    display: flex;
    justify-content: center;
}
form label{
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
input{
    background: #FFFFFF;
    border: 1.5px solid #C21409;
    border-radius: 100px;
    flex-grow: 1;
    margin: 15px 0px;
    padding: 10px;
}
/* ----------------------------------------------footer------------------------------------------ */
footer{
    margin: 50px ;
    display: flex;
    justify-content: space-between;
}
footer>button{
    font-size: 20px;
    border-radius: 100px;
    padding: 15px 40px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}
button#cancel{
    background: #FFFFFF;
    color: #C21409;
    border: 1.5px solid #C21409;
}
button#done{
    background: #C21409;
    color: #FFFFFF ;
    border: 1.5px solid #C21409;
}
button#cancel:hover, button#done:hover{
    background-color: #971007;
    color: #FFFFFF ;
}